@font-face {
  font-family: 'Maplestory';
  font-weight: bold;
  src: local('Maplestory'),
    url(./Assets/Fonts/Maplestory.ttf) format('truetype');
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Maplestory, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
